<%- include('../partials/header') %>
<div class="container">
    <picture>
        <img src="/img/icons/Proximamente.png" alt="imagen de sitio en construcción">
    </picture>
</div>

<%- include('../partials/footer') %>